version: 2
updates:
- package-ecosystem: "gomod"
  directory: "/"
  schedule:
    interval: "daily"
  groups:
    k8s:
      patterns:
      - k8s.io/api
      - k8s.io/apiextensions-apiserver
      - k8s.io/apimachinery
      - k8s.io/cli-runtime
      - k8s.io/client-go
      - k8s.io/code-generator
      - k8s.io/component-base
      - k8s.io/kubectl
      - sigs.k8s.io/controller-runtime
      - sigs.k8s.io/controller-tools
      update-types:
      - patch

